<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>诡异问问我今天吃什么¿</title>
    <link rel="stylesheet" href="./index.css" type="text/css" />
    <link rel="icon" href="./wenhao.jpg" type="image/x-icon"/>  
</head>

<body>
    <div id="app">
        <div class="loadding" >

            <div class="header">
                 <div class="juedingle" v-cloak>今天吃：{{chi}}</div>
                   <el-button class="button-new-tag" size="small" :type="types" @click="chiyige" v-cloak>{{content}}</el-button>
                
            </div>
        <div class="eatWhat">
                        
             <el-input class="input-new-tag" v-if="inputVisible" v-model="inputValue" ref="saveTagInput" size="small"
               @keyup.enter.native="handleInputConfirm" @blur="handleInputConfirm" placeholder="新发现">
             </el-input>
        <el-button v-else class="button-new-tag" size="small" @click="showInput">添&nbsp;&nbsp;&nbsp;加</el-button>
             <el-tag :key="tag" v-for="tag in dynamicTags" closable :disable-transitions="false" @close="handleClose(tag)" v-cloak>
               {{tag}}
             </el-tag>
       
           </div>
           
         </div>
         <el-alert title="已经有了"  type="error" effect="dark" v-show="alertShow" center :closable="false" show-icon>
        </el-alert>
        <div class="zhezhao" v-loading="loading" :style="zzStyle">

        </div>
    </div>
</body>
<script src="./vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var Host = 'http://106.14.212.56:8080/happy/';
    new Vue({
        el: '#app',
        data() {
            return {
                dynamicTags: [],
                inputVisible: false,
                inputValue: '',
                loading: true,
                qiguai: '',
                chi: '',
                num: 0,
                content: '随机选一个',
                types: 'primary',
                alertShow: false,
                zzStyle:{
                    "z-index" : -1,
                },
            }
        },
        mounted() {
            axios.get(Host + 'queryTable?db=SF_foods&table=foods').then(response => {
                    let json = response.data.data[0];
                    // console.log("%c 初始查询表的数据", "color:red", json.foodName)
                    this.dynamicTags = json.foodName;
                    this.loading = false;
                    this.qiguai = JSON.stringify(this.dynamicTags)
                })
                .catch((error) => {
                    console.log(error)
                })

        },
        methods: {
            handleClose(tag) {
                this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
                this.change();
            },

            showInput() {
                this.inputVisible = true;
                this.$nextTick(_ => {
                    this.$refs.saveTagInput.$refs.input.focus();
                });
            },
            handleInputConfirm() {

                let inputValue = this.inputValue;
                console.log(this.inputValue,this.dynamicTags)
   
                // 判断有没有存在相同的店名
                for(let i = 0; i< this.dynamicTags.length ;i++){
                    if(this.dynamicTags[i] == this.inputValue){
                        let that = this;
                        this.alertShow =  true,
                        this.inputVisible = false;
                        this.inputValue = '';
                        setTimeout(function(){
                            that.alertShow =  false
                        },2000)
                        return;
                    } 
                }
                if (inputValue) {
                        this.dynamicTags.unshift(inputValue);
                 }
                this.inputVisible = false;
                 this.inputValue = '';
                 this.change();
               
            },
            // 数据库修改新菜
            change() {
                this.zzStyle = {
                    "z-index" : 1,
                };
                // console.log("%c 修改数据", "color:blue", this.qiguai, this.dynamicTags)
                this.loading = true;
                let postData = {
                    "db": "SF_foods",
                    "table": "foods",
                    "query": {
                        "key": "foodName",
                        "value": JSON.parse(this.qiguai)
                    },
                    "jsonMessage": {
                        "key": "foodName",
                        "value": this.dynamicTags
                    },


                }
                axios.post(Host + 'updata/', postData).then(response => {
                        console.log(response)

                        axios.get(Host + 'queryTable?db=SF_foods&table=foods').then(response => {
                                let json = response.data.data[0];
                                // console.log("%c 初始查询表的数据", "color:red", json.foodName)
                                this.dynamicTags = json.foodName;
                                this.loading = false;
                                this.qiguai = JSON.stringify(this.dynamicTags)
                                this.loading = false;
                                this.zzStyle = {
                                    "z-index" : -1,
                                };
                            })
                            .catch((error) => {
                                console.log(error)
                            })
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            },
            chiyige() {
                var Arr = this.dynamicTags
                var n = Math.floor(Math.random() * Arr.length + 1) - 1;
                // console.log(n)
                this.chi = this.dynamicTags[n];
                // console.log(this.dynamicTags,this.chi)
                this.num++;
                console.log(this.num)
                if (this.num == 3) {
                    this.types = 'danger';
                    this.content = '这么矫情，就吃这个！'
                } else if (this.num > 3) {
                    this.types = 'primary';
                    this.content = '你点吧，反正禁止你点也会刷新网页'
                }
            }

        },
    })
</script>

</html>